/* Zap's Cool Photon Site! */
@import url(./fonts.css);
:root {
	--background: #fff;
	--background-1: #f6f6f8;
	--background-2: #fefefe;
	--background-3: #e4e4e4;
	--background-4: #eaeaea;
	--background-5: #0a84ff66;
	--background-6: #90c1f2;

	--color-1: #0a0a0a;

	--border-1: #c0c0c0;

	--box-shadow-1: 0 4px 12px #0005;
	--box-shadow-2: 0 2px 6px #0003;
	--box-shadow-3: 0 2px 4px #0001;
}
@media (prefers-color-scheme: dark) {
	:root {
		--background: #202023;
		--background-1: #0c0c0d;
		--background-2: #323234;
		--background-3: #4a4a4f;
		--background-4: #444446;
		--background-5: #0a84ffaa;
		--background-6: #1e6fc1;
	
		--color-1: #fefefe;
	
		--border-1: #5a5a5c;
	}
	#fav {
		content: url(./images/icon-dark.svg) !important;
	}
}
body {
	background: var(--background);
	color: var(--color-1);
	margin: 0;
	font-family: 'Fira Sans', 'Segoe UI', 'Lato', sans-serif;
	padding: 16px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-content: flex-start;
	overflow: visible;
	height: 100vh;
}
#sidebar {
	display: flex;
	flex-direction: column;
	border: 1px solid var(--border-1);
	border-radius: 4px;
	padding: 12px;
	width: min(500px, calc(100vw - 64px));
	height: calc(100vh - 64px);
	margin-right: 16px;
}

/* ;( */
.img {
	background: var(--background-2);
	border: 1px solid var(--border-1);
	border-radius: 4px;
	padding: 6px;
	box-shadow: var(--box-shadow-1);
	margin-bottom: 4px;
	transition: 0.2s;
	width: fit-content;
}
.img:last-child {
	margin-bottom: 0;
}
.img img {
	display: block;
	width: 100%;
	margin-top: 4px;
}
#fav {
	width: 24px;
	height: 24px;
	align-self: center;
	margin-right: 8px;
	filter: drop-shadow(0 2px 6px #0003);
}
#zcpt-logo {
	align-self: center;
	filter: drop-shadow(0 2px 6px #0003);
}
#title {
	font-size: 20px;
	background: var(--background-3);
	border: 1px solid var(--border-1);
	border-radius: 2px;
	padding: 10px;
	box-shadow: var(--box-shadow-2);
	display: flex;
	margin-top: 12px;
	margin-bottom: -10px;
	width: 100%;
}
#title a {
	color: var(--color-1);
	font-weight: 600;
	text-decoration: none;
	margin-right: 6px;
	transition: 0.2s;
}
#title a:hover {
	font-weight: 700;
}
#pref-list {
	background: var(--background-4);
	border: 1px solid var(--border-1);
	border-radius: 2px;
	padding: 4px;
	box-shadow: var(--box-shadow-2);
	margin-top: 8px;
	flex: 2;
	overflow-y: scroll;
	scrollbar-width: thin;
	scrollbar-color: var(--border-1) var(--background-4);
}
#description {
	background: var(--background-4);
	border: 1px solid var(--border-1);
	border-radius: 2px;
	padding: 4px;
	box-shadow: var(--box-shadow-2);
	margin-top: 8px;
	height: 33.33%;
	display: flex;
	flex-direction: column;
	overflow-y: scroll;
	scrollbar-width: thin;
	scrollbar-color: var(--border-1) var(--background-4);
}
#topbar {
    display: flex;
    padding-bottom: 4px;
}
#desc-name {
	background: var(--background-2);
	border-radius: 2px;
	padding: 4px;
	box-shadow: var(--box-shadow-3);
	margin: 6px;
	width: fit-content;
	font-family: "Fira Code", monospace;
    flex: 1;
}

#incompat-box {
	background: var(--background-2);
	color: var(--color-1);
	outline: none;
	border-radius: 2px;
	padding: 4px;
	box-shadow: var(--box-shadow-3);
	margin: 6px;
	width: fit-content;
	transition: 0.2s;
    display: inline;
    min-height: 22px;
    flex: 1;
}

.empty {
	font-style: italic;
	opacity: 0.5;
}

#incompat-box div {
	font-family: "Fira Code", monospace;
    display: inline;
}

code {
	font-family: "Fira Code", monospace;
}

#desc-box {
	margin: 8px;
	flex: 1;
	scrollbar-width: thin;
	scrollbar-color: var(--border-1) var(--background-4);
}
.pref {
	padding: 4px;
	background: var(--background-3);
	border-radius: 2px;
	transition: all 0.2s, font-weight 0s;
	position: relative;
}
.pref:nth-child(2n) {
	background: var(--background-4);
}
:is(#export, .pref, #clear):hover {
	box-shadow: var(--box-shadow-2);
	z-index: 1;
}
:is(#export, .pref, #clear):active {
	box-shadow: var(--box-shadow-3);
	translate: 0 2px;
}
.true {
	background: var(--background-5) !important;
	font-weight: 500;
}

#export, #clear {
	border-radius: 2px;
	background: #0a84ff;
	border: none;
	box-shadow: var(--box-shadow-2);
	color: #eaeaea;
	padding: 8px;
	font-size: 16px;
	transition: 0.1s;
	text-decoration: none;
	text-align: center;
	flex: 1;
	user-select: none;
}
#clear {
	background: var(--background-4) !important;
	color: var(--color-1);
}
#clear:hover:not(:active) {
	background: var(--background-3) !important;
}
#export:hover:not(:active) {
	background: #57abff;
}

button #check {
	opacity: 0;
	scale: 0.5;
	transition: 0.2s ease-in-out;
	transform-origin: 50% 50%;
}
button.true #check {
	opacity: 1;
	scale: 1;
}

#check {
	align-self: center;
	margin-right: 8px;
	margin-left: 2px;
	border-radius: 2px;
}

#button-box {
	width: 100%;
	height: 37px;
	margin-top: 8px;
	align-items: center;
	display: flex;
	gap: 8px;
}

.warning {
	opacity: 0.5;
}

#img-box img, #img-box {
    max-width: 100%;
}
body {
    overflow: scroll;
    overflow-x: hidden;
	transition: 0.2s;
}
#settings {
	border: none;
	background: var(--background-2) no-repeat;
	border-radius: 2px;
	margin-inline-start: auto;
	margin-block: auto;
	background-image: url(./images/settings.svg);
	fill: var(--color-1);
	-moz-context-properties: fill;
	height: 24px;
	width: 24px;
	background-position: 4px 4px;
	transition: 0.2s;

	&:hover {
		box-shadow: var(--box-shadow-2);
	}
	&:hover:active {
		box-shadow: var(--box-shadow-3);
		translate: 0 2px;
	}
}
#title div {
	display: inline;
}
#title-text {
	margin-inline-start: -5px;
}
#settings.open {
	background-image: url(./images/back-12.svg);
	background-size: 16px 16px;
	z-index: 100;
}
.settings-section {
	background: var(--background-4);
	border: 1px solid var(--border-1);
	border-radius: 2px;
	padding: 10px;
	box-shadow: var(--box-shadow-2);
	flex: 2;
	overflow-y: scroll;
	scrollbar-width: thin;
	scrollbar-color: var(--border-1) var(--background-4);
}
.header {
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 6px;
}
#bkgimg, #refresh {
	display: flex;
	flex-direction: column;
}
#preview {
	margin-top: 8px;
	border-radius: 2px;
	width: 50px;
	height: 50px;
	object-fit: cover;
}
#preview.loaded {
	box-shadow: var(--box-shadow-2);
	border: 1px solid var(--border-1);

	&:hover {
		cursor: pointer;
	}
}
#settings-menu {
	display: none;
	flex-direction: column;
	width: calc(100vw - 22px);
	height: fit-content;
	gap: 8px;
	width: 100%;
}
body.open {
	#settings-menu {
		display: flex;
	}
	#sidebar div {
		display: none;
	}
	#sidebar {
		height: 0;
		margin-block: -1px;
	}
}
#imagepicker-button, #reload-button, #apply-css-button, #test-css-button, #browser-fork-dropdown {
	font-family: 'Fira Sans', 'Segoe UI', 'Lato', sans-serif;
	user-select: none;
	border-radius: 2px;
	box-shadow: var(--box-shadow-2);
	background: var(--background-2) no-repeat;
	color: var(--color-1);
	padding: 8px;
	font-size: 16px;
	transition: 0.2s;
	text-align: center;
	width: fit-content;
	background-image: url(./images/folder.svg);
	fill: var(--color-1);
	-moz-context-properties: fill;
	padding-inline-start: 32px;
	background-position: 8px 8px;
	border: none;
	margin-top: 6px;

	&:hover {
		background-color: var(--background-3);
	}
	&:hover:active {
		background-color: var(--background-2);
		translate: 0 2px;
	}
}
#browser-fork-dropdown {
	background-image: url(./images/firefox.svg);
	padding-inline: 24px 8px;
	background-size: 18px 18px;
	&:has(> option[value="firefox"]:checked) {
		background-image: url(./images/forks/firefox.svg);
	}
	&:has(> option[value="floorp"]:checked) {
		background-image: url(./images/forks/floorp.svg);
	}
	&:has(> option[value="librewolf"]:checked) {
		background-image: url(./images/forks/librewolf.svg);
	}
	&:has(> option[value="tor"]:checked) {
		background-image: url(./images/forks/tor.svg);
	}
	&:has(> option[value="waterfox"]:checked) {
		background-image: url(./images/forks/waterfox.svg);
	}
}
#reload-button {
	background-image: url(./images/reload.svg);
}
#apply-css-button {
	background-image: url(./images/check-alt.svg);
	margin-block: 4px;
}
#test-css-button {
	background-image: url(./images/ion.svg);
	margin-block: 4px;
}
#preview:not(.loaded) + #clear-img {
	display: none;
}
#imagepicker {
	display: none;
}
#img-name {
	font-family: "Fira Code", monospace;
}
#preview-container {
	width: fit-content;
}
#newtab-notice, #css-unsaved, #unsaved-options {
	padding: 4px;
	background: var(--background-5);
	color: var(--color-1);
	font-weight: 600;
	border-radius: 2px;
	box-shadow: var(--box-shadow-2);
}
#unsaved-options {
	text-align: center;
	margin-top: 8px;
	position: sticky;
	bottom: 4px;
	background: var(--background-6);
}
:is(#css-unsaved, #unsaved-options):not(.unsaved) {
	display: none;
}
textarea {
	resize: none;
}
#css-textarea {
	background: var(--background);
	border: 1px solid var(--border-1);
	color: var(--color-1);
	width: calc(100% - 8px);
	height: 250px;
	font-family: 'Fira Code', monospace;
	outline: none;
	tab-size: 4;
}
#custom-css-note {
	opacity: 0.5;
	font-size: small;
}
#about-container {
	display: flex;
	width: 100%;
	justify-content: center;
}
#wordmark {
	font-family: 'Zilla Slab', monospace;
	font-weight: 800;
	font-size: 32px;
	align-self: center;
}
#version {
	font-family: 'Zilla Slab', monospace;
	font-size: 24px;
	text-align: center;
	opacity: 0.8;
	width: 100%;
}
#webextension-note {
	font-family: 'Zilla Slab', monospace;
	font-size: 14px;
	text-align: center;
	opacity: 0.5;
	width: 100%;
}
#repo-links {
	background: var(--background-2);
	border: 1px solid var(--border-1);
	margin-top: 6px;
	border-radius: 2px;
	padding: 8px;
	box-shadow: var(--box-shadow-2);
	display: flex;
	flex-direction: column;
	color: var(--color-1);
	text-align: center;
	span {
		margin-block: 8px;
	}
	a {
		color: var(--color-1);
		text-decoration: none;
		font-weight: 900;
		&:hover {
			text-decoration: underline;
		}
	}
}
.two-in-one-settings-section {
	display: flex;
	flex-direction: row;
	width: 100%;
	gap: 8px;
	.settings-section {
		flex: 1;
		width: 100%;
	}
}
/* reshponivv! */
@media (max-width: 900px) {
	body {
		flex-wrap: wrap;
		padding: 0;
	}
	#sidebar {
		margin-bottom: 0px;
		margin-right: 0px;
		width: 100%;
		height: 550px;
		border-radius: 0px 0px 4px 4px;
		border: none;
		padding-inline: 0;
		padding-top: 12px;
		padding-bottom: 10px;
	}
	#description {
		height: 200px;
	}
	#left {
		height: calc(100vh - 590px);
		margin-inline: 8px;
		margin-bottom: 0px;
	}
	#incompat-box {
		max-height: 90px;
		overflow-y: scroll;
		scrollbar-width: thin;
		scrollbar-color: var(--border-1) var(--background-2);
	}
}